@mixin flex($d, $a, $j) {
  display: flex;
  flex-direction: $d;
  align-items: $a;
  justify-content: $j;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: arial;
}
body {
  .content {
    @include flex(row, center, start);
    @media (max-width: 1000px) {
      .leftNavbarContents {
        width: 20px;
      }
      .label {
        display: none;
      }
      .leftNavbar {
        width: 50px;
      }
    }
    .leftNavbar {
      height: 100vh;
      transition: 0.3s;
      // width: 200px;
      margin: 0 5px;
      .navbarContainer {
        padding: 7px 0;
        .activeContent {
          background-color: lightgray;
        }
        .leftNavbarContents {
          @include flex(row, center, start);
          border: solid 1px;
          height: 45px;
          border-radius: 5px;
          margin-bottom: 5px;
          position: relative;
          min-width: 45px;
          cursor: pointer;
          list-style: none;
          transition: 0.3s;
          &:hover {
            background-color: lightgray;
          }
          .label {
            font-size: 1.5rem;
            padding-left: 40px;
            padding-right: 10px;
          }
          img {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            aspect-ratio: 1/1;
            height: 20px;
          }
        }
      }
    }
    .content {
      position: relative;
      height: 100vh;
      border: solid 1px;
      transition: 0.3s;
      min-width: 500px;
      width: 100%;
      padding: 20px;
      .header {
        top: 20px;
        position: absolute;
        left: 20px;
        right: 20px;
        // left: 50%;
        // transform: translateX(-50%);
        text-align: justify;
        .title {
          font-size: 3rem;
          font-weight: 600;
          text-align: center;
        }
        .definition {
          min-width: 300px;
          border: solid 1px;
          line-height: 1.2;
        }
        .contents{
          
        }
      }
    }
  }
}
